<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공격하기</title>
</head>
<body>
    <form action="/attack" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <p>내가 고른 카드: 
        <select name="card_num" id="card_numm">
            <option value="1"></option>
            <option value="2"></option>
            <option value="3"></option>
            <option value="4"></option>
            <option value="5"></option>
        </select>
    </p>

    <p>공격할 상대는?: 
        <select name="attacked" id="attacked">
            {% for user in users %}
            <option value="{{user.name}}">{{user.name}}</option>
            {% endfor %}
        </select>
    </p>
    
    <input type="submit" value="공격하기">
    </form>

<script> 

let randomIndexArray = []
for (i=0; i<5; i++) {
  randomNum = Math.floor(Math.random() * 9 + 1)
    if (randomIndexArray.indexOf(randomNum) === -1) {
    randomIndexArray.push(randomNum)
    } else {
    i--
    }
}

let target = document.getElementById("card_numm");

for (i=0; i<5; i++){
    target.options[i].text = randomIndexArray[i];
    target.options[i].value = randomIndexArray[i];
}


</script>

<script src="https://code.jquery.com/jquery-3.4.1.js">
    $(document).ready(function(){
        $("select[name=card_num]").change(function () {
        $("#card_num").submit();

        });
    });

    $(document).ready(function(){
        $("select[name=attacked]").change(function () {
        $("#attacked").submit();

        });
    });
</script>
</body>
</html>