


<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MAIN_LOGIN_BEFORE</title>
    
    
</head>

<body>
    {% csrf_token %}

    {% if user.is_authenticated%}
    <div class="nav_bar">
        <a href="">게임하기</a>
        <a href="">랭킹보기</a>
        <a href="{% url 'users:logout' %}">로그아웃</a>
    </div>
    {% else %}

    <a href="{% url 'users:login'%}"> 로그인 </a>
    {% endif %}

  
    <div>
        <p>전세계 피로그래머와 한판 승부 숫자 카드 게임!</p>
        {% comment %} ! 게임하기,전적보기로 연결되는 링크추가 {% endcomment %}
        <a href="">게임하기</a>
        <a href="">전적보기</a>
    </div>


<body>